/*Mon CSS*/

#content {

	background-color: #E0CEEA ;
	padding: 1em;
	margin : auto;
	margin-bottom: 0.5em;
	width: 60%;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

#banniere {

	height : 40em;
	background-image: url("images/light_painting/piano_2.JPG");
	background-size: cover;
	margin-top: -0.5em;
	margin-left: -0.5em;
	margin-right: -0.5em;
	margin-bottom: 0.5em; 

}

#accueil {

	color : white;
	font-size: 3em ;
	font-family: "georgia";
	margin-left: 5em;
	position: absolute;
	margin-top: 5em;

}

#navigation ul {

  	min-width: 696px;
	list-style: none;
	padding-top: 20px;

}

#navigation li {

	display: inline ;
	border: 3px #12005e solid ;
	background-color: #12005e ;
	color : white;
	margin: auto;

	
}


a {

	text-decoration: none;
	color: white ;
}

a:hover {

	text-decoration: underline;
	color: #9ecff7;
}

h2 {

	border: 3px #4a148c solid ;
	background-color: #4a148c ;
	min-width: 10em;
	max-width: 14em;
	min-height: 1em;
	max-height: 1em;
	margin: auto;
	text-align: center;
	color: white;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

article {

	color: black;
	text-align: center;



}

.table {
	display: table;  
	margin: 0 auto;
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 1.1em;
}

p {

	text-align: justify;
}

.imageflottante {

	float: left;
}

.imageflottante2 {

	float: right;
}


h3 {

	text-align: left;
}

.cv {

	text-align: left;
}

.imageflottante3 {

	float: right;
}

.imageflottante4 {

	float: left;
}

.imageflottante5 {

	display: block;
	margin-left: auto;
	margin-right: auto;

}

.imageflottante6 {

	display: block;
	margin-left: auto;
	margin-right: auto;
}

html {
  scroll-behavior: smooth;
}

.mail {

	border: 3px #4a148c solid ;
	background-color: #4a148c ;
	min-width: 10em;
	max-width: 10em;
	min-height: 1em;
	max-height: 1em;
	margin: auto;
	text-align: center;
	color: white;

}

.adresse {

	text-align: center;
}

.miniature img {


	overflow: hidden;
	width: 100%;


}

.miniature {

	margin: auto;
	width: 24%;
	margin-bottom: 0.4em;
	display: inline-block;
}

.miniatures {

	 display: flex;
     flex-wrap: wrap;
     padding: 0.2em;


}

.miniature:hover {

	transform: scale(1.2);


}

@media only screen and (max-width: 600px) {
    #content{
    	width:80%;
    }
   }

.galerie {

	 display: flex;
     flex-wrap: wrap;
     padding: 0.2em;
     transition: transform 5s ease;

}

.peur {

	margin: auto;
	width: 45%;
	margin-bottom: 0.4em;
	display: inline-block;
}

.peur:hover {

	transform: scale(1.5);
}

.animation {

	margin: auto;
	width: 45%;
	margin-bottom: 0.4em;
	display: inline-block;

}

.geste {

	margin: auto;
	width: 45%;
	margin-bottom: 0.4em;
	display: inline-block;
}

.geste:hover {

	transform: scale(1.2);

}

.oracle {

	margin: auto;
	width: 20%;
	margin-bottom: 0.4em;
	display: inline-block;

}

.bete {

	margin: auto;
	width: 45%;
	margin-bottom: 0.4em;
	display: inline-block;

}

.bete:hover {

	transform: scale(1.2);
}